<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="alec's Motif Finder">
	<meta name="author" content="alec_djinn@yahoo.com">
	<title>aMoF</title>

	<!-- Style -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/jumbotron.css') }}"> -->
	<link rel="shortcut icon" media="screen" href = "{{ url_for('static', filename='images/favicon64.png') }}">

	<!-- Just for debugging purposes.-->
    <!--[if lt IE 9]><script src="http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
</head>


<header>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" style="color: rgb(255,128,0)">aMoF</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/faq">FAQ</a></li>
					<li class="active"><a href="/amof">Get Started!</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
</header>


<body>
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">

			<h2>Input</h2>
			<p>Paste or upload your sequence/s</p>
			<form name="default_form" method="POST">
				<div class="form-group">
					<label for="exampleInputSequence">Sequence/s</label>
					<textarea class="form-control" style="font-family:monospace;" rows="8" placeholder="paste your sequence here..." name="raw_sequence" required>{{raw_sequence}}</textarea>
				</div>
				<button type="submit" class="btn btn-primary btn-sm" href="#" role="button" value="{{request.form.input}}">Submit &raquo;</button>
			</form>

		</div>
	</div>


				<!-- <div class="form-group">
					<label for="exampleInputFile">Upload File/s</label>
					<input type="file" id="exampleInputFile">
					<p class="help-block">Example block-level help text here.</p>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"> Send me the results by email
					</label>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-4">
							<label for="exampleInputEmail1">Email address</label>
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
						</div>
					</div>
				</div> -->



	<!-- Example row of columns -->
	<div class="container">
		<h2>Output</h2>
		<p>{{ message }}</p>
		<div class="well">
			<table class="table">
				<thead>
					<tr>
						<th>Index</th>
						<th>Motif</th>
						<th>Count</th>
					</tr>
				</thead>
				<tbody>
					{%- for motif, count in output.items() -%}
					<tr>
						<td>{{ loop.index }}</td>
						<td style="font-family:monospace;">{{ motif }}</td>
						<td>{{ count }}</td>
					</tr>
					{%- endfor -%}
				</tbody>
			</table>
		</div>
		<p><a class="btn btn-primary btn-sm" href="#" role="button">Download&raquo;</a></p>
	</div>



	<div class="container">
		<hr><!-- breakline -->
		<footer>
			<p>aMoF by alec_djinn 2015</p>
		</footer>
	</div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>